feed > .feed-img > img {
  padding-top: 16px;
  border-radius: 50%;
  height: 256px;
  width: 256px;
}
feed {
  box-sizing: border-box;
  border-radius: 25px;
  width: 75%;
  min-width: 1080px;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #323d47;
  box-shadow: 0 0 16px #323d47;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
feed > .feed-about {
  list-style-type: none;
  padding-inline-start: 0px;
}
feed > .feed-about > name {
  font-size: 32px;
}
