body {
  margin: 0;
  background-color: #9acfd3;
}

main {
  color: antiquewhite;
  margin-top: 45px;
  padding-bottom: 25px;
  background-color: #1b1e26;
}
main > .main-picture {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  justify-content: center;
  display: flex;
  padding-top: 10px;
}
main > .block {
  display: flex;
  justify-content: center;
}
main > .block div p {
  font-size: 20px;
}
main > .block div {
  width: 30%;
}
main .buy-button {
  max-width: 256px;
  height: auto;
  padding-left: 200px;
}
main > div > .warderer {
  height: 256px;
  max-width: 256px;
  padding-right: 200px;
}
main > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > h2 {
  padding-left: 5%;
}
main > h3 {
  padding-left: 5%;
}
